/* Portrait div */

.Porttrait .container1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    position: absolute;
    width: 470px;
    /* Default width */
    height: 98%;


}

.container-input {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;

}

.assetname input {
    width: 95%;
}


.assetname textarea {
    width: 95%;
    resize: none;
}

.container-option {

    display: grid;
    grid-template-columns: 40% 51%;

    /* Two columns with equal width */
    gap: 5px;
}

.option-list {
    position: relative;
    left: 20px;
    padding: 20px;

    border-bottom: 3px solid rgb(0, 0, 0);

}

.Department .Asset {
    width: 20%;
}


.container-date {

    display: grid;
    grid-template-columns: 50% 50%;

}

.date-list {
    padding: 10px;
    padding-left: 20px;

}

.container-upload {
    padding-top: 20px;
    display: flex;
    position: relative;
    left: 55%;
}

.upload-list {
    padding: 2px;
}

.container-button {
    display: flex;
    position: absolute;
    left: 60%;
    padding-top: 50px;

}

.button-list {
    padding: 20px;

}

/* ---------------------- */



h4 {
    position: relative;
    left: 20px;
}

.Assetinfo {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    color: white;
    background-color: rgb(48, 44, 44);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 45%;
}

.Assetinfo a {
    color: rgb(2, 173, 2);
}

input {
    border: none;
    outline: none;
    /* Removes the default focus outline */
    border-bottom: 2px solid black;
    /* Add a bottom border */
    transition: border-color 0.3s ease;
    /* Add transition effect */
}

input:focus {
    border-bottom: 3px solid green;
    /* Change color on focus */
}

select {
    border: none;
    /* Remove the border */
    outline: none;

}

.file {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}

.file:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

.cursor{
    cursor: pointer;
    
}

